pkgbase = linux-vk
	pkgver = 5.1.4
	pkgrel = 1
	url = https://github.com/krasCGQ/linux-vk
	arch = x86_64
	license = GPL2
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = git
	options = !strip
	source = linux::git+https://github.com/krasCGQ/linux-vk
	source = 60-linux.hook
	source = 90-linux.hook
	source = config.compilers
	source = linux.install
	source = linux.preset
	source = sign_modules.sh
	source = x509.genkey
	sha384sums = SKIP
	sha384sums = f7c95513e185393a526043eb0f5ecf1f800840ab3b2ed223532bb9d40ddcce44c5fab5f4b528cfd2a89bf67ad764751d
	sha384sums = 01a9570c0907fa9a11ee1c384248fdf9b83de4fc2fe65cbc53446d9711aee9b148faa29a2e6449ca1a9d7b7f4cbe6c7c
	sha384sums = SKIP
	sha384sums = 5b9cfec7a4e1829bd89e32c5ac3aa4f983c77dffbdedde848d305068b70ae2fee51a9d9351c6b4cb917f556db0b0f622
	sha384sums = d11ffe6e88adbcf59ca02c9481af7f7897e494eddc2345cb08ae093bf48f32ef48932fcd85224e1bfaa3db42042a6afb
	sha384sums = d5dcc15254f4ff2ac545aabf6971bd19389f89d18130bed08177721fc799ebc7d39d395366743e0d93202fc29afe7a6d
	sha384sums = 4399cc1b697b95bb92e0c10e7dbd5fa6c52612aafeb8d6fb829d20bbc341fc1a6f6ef8a0c57a9509ca9f319eb34c80de

pkgname = linux-vk
	pkgdesc = The Linux-VK kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-vk.preset

pkgname = linux-vk-headers
	pkgdesc = Header files and scripts for building modules for Linux-VK kernel

