pkgbase = linux-vk
	pkgver = 4.20.4
	pkgrel = 1
	url = https://github.com/krasCGQ/linux-vk
	arch = x86_64
	license = GPL2
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = git
	options = !strip
	source = linux::git+https://github.com/krasCGQ/linux-vk
	source = config
	source = 60-linux.hook
	source = 90-linux.hook
	source = linux.install
	source = linux.preset
	sha512sums = SKIP
	sha512sums = bcb2b507ea450653c07a7e862192bba08bb13043c4d41b9a976eaea3e19d43c1dee0fba583f01ee1cd32c42d00f54cbce7e11e7bb4242a8195b989ca8d2a5fba
	sha512sums = 7ad5be75ee422dda3b80edd2eb614d8a9181e2c8228cd68b3881e2fb95953bf2dea6cbe7900ce1013c9de89b2802574b7b24869fc5d7a95d3cc3112c4d27063a
	sha512sums = 2718b58dbbb15063bacb2bde6489e5b3c59afac4c0e0435b97fe720d42c711b6bcba926f67a8687878bd51373c9cf3adb1915a11666d79ccb220bf36e0788ab7
	sha512sums = b2a4d48144cd8585a90397b5d99e6d062c627fb0d752db7e599b8aa16cec3e7a1f2c4804db1ba806ac5d122fa71d533f302abc2f57fdf76cc7218cfb53ae1d79
	sha512sums = 0a52a7352490de9d0202c777a45ab33e85e98d5c5ef9e5edf2dd6461f410a6232313d4239bdad8dd769c585b815d8f7c9941ead81b88928ec6e2cc4c849673c8

pkgname = linux-vk
	pkgdesc = The Linux-vk kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio
	optdepends = crda: to set the correct wireless channels of your country
	conflicts = linux-vanadium
	replaces = linux-vanadium
	backup = etc/mkinitcpio.d/linux-vk.preset

pkgname = linux-vk-headers
	pkgdesc = Header files and scripts for building modules for Linux-vk kernel
	conflicts = linux-vanadium-headers
	replaces = linux-vanadium-headers

