pkgbase = tdesktop-x64
	pkgdesc = Third party Telegram Desktop client with various enhancements
	pkgver = 2.7.1.1
	pkgrel = 1
	url = https://github.com/TDesktop-x64
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = tl-expected
	makedepends = microsoft-gsl
	makedepends = libtg_owt-git
	depends = hunspell
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = lz4
	depends = minizip
	depends = openal
	depends = qt5-imageformats
	depends = xxhash
	depends = libdbusmenu-qt5
	depends = kwayland
	depends = gtk3
	depends = glibmm
	optdepends = ttf-opensans: default Open Sans font family
	provides = telegram-desktop
	conflicts = telegram-desktop
	source = tdesktop::git+https://github.com/TDesktop-x64/tdesktop#tag=v2.7.1.1
	source = telegram-desktop-libtgvoip::git+https://github.com/telegramdesktop/libtgvoip#commit=13a5fcb16b04472d808ce122abd695dbf5d206cd
	source = telegram-desktop-GSL::git+https://github.com/microsoft/GSL#tag=v3.1.0
	source = telegram-desktop-Catch::git+https://github.com/catchorg/Catch2#tag=v2.13.4
	source = telegram-desktop-xxHash::git+https://github.com/Cyan4973/xxHash#tag=v0.8.0
	source = telegram-desktop-rlottie::git+https://github.com/desktop-app/rlottie.git#commit=cbd43984ebdf783e94c8303c41385bf82aa36d5b
	source = telegram-desktop-lz4::git+https://github.com/lz4/lz4#tag=v1.9.3
	source = telegram-desktop-lib_crl::git+https://github.com/desktop-app/lib_crl.git#commit=16150bf71d79382738114b913f137ec1a1a7630c
	source = telegram-desktop-lib_rpl::git+https://github.com/desktop-app/lib_rpl.git#commit=e1b96399d9031c4ef0354631e6bb375029d29d9f
	source = telegram-desktop-lib_base::git+https://github.com/TDesktop-x64/lib_base#commit=b2988bc06efc9900e7505a8c777d5c58a8708eb0
	source = telegram-desktop-codegen::git+https://github.com/desktop-app/codegen.git#commit=a4904e076b1d1bfd00cd26f283a5e9ccd9740ac1
	source = telegram-desktop-lib_ui::git+https://github.com/TDesktop-x64/lib_ui#commit=60588946890de3b20479660d9344575284f8e5f6
	source = telegram-desktop-lib_rlottie::git+https://github.com/desktop-app/lib_rlottie.git#commit=0671bf70547381effcf442ec9618e04502a8adbc
	source = telegram-desktop-lib_lottie::git+https://github.com/desktop-app/lib_lottie.git#commit=475d43337a3b397e2c9f6e975929ae15695aa346
	source = telegram-desktop-lib_tl::git+https://github.com/desktop-app/lib_tl.git#commit=404c83d77e5edb8a39f8e9f56a6340960fe5070e
	source = telegram-desktop-lib_spellcheck::git+https://github.com/desktop-app/lib_spellcheck#commit=5ae68777478250c49520629420290f231173e1ca
	source = telegram-desktop-lib_storage::git+https://github.com/desktop-app/lib_storage.git#commit=99d7122ddc9f61b6e910db11692426661525647f
	source = telegram-desktop-cmake_helpers::git+https://github.com/TDesktop-x64/cmake_helpers#commit=e9b78045251584dc069c2a302126448b40a0667d
	source = telegram-desktop-expected::git+https://github.com/TartanLlama/expected#tag=v1.0.0
	source = telegram-desktop-QR-Code-generator::git+https://github.com/nayuki/QR-Code-generator#tag=v1.6.0
	source = telegram-desktop-lib_qr::git+https://github.com/desktop-app/lib_qr.git#commit=92ce41a690a463eb462089a4eb1e51e019308018
	source = telegram-desktop-libdbusmenu-qt::git+https://github.com/desktop-app/libdbusmenu-qt.git#commit=75afa1003c1d0f6fdfa3a76ce2db689b49f86968
	source = telegram-desktop-hunspell::git+https://github.com/hunspell/hunspell#tag=v1.7.0
	source = telegram-desktop-range-v3::git+https://github.com/ericniebler/range-v3#tag=0.11.0
	source = telegram-desktop-fcitx-qt5::git+https://github.com/fcitx/fcitx-qt5#tag=1.2.5
	source = telegram-desktop-nimf::git+https://github.com/hamonikr/nimf#tag=1.3.0
	source = telegram-desktop-hime::git+https://github.com/hime-ime/hime#tag=v0.9.11
	source = telegram-desktop-qt5ct::git+https://github.com/desktop-app/qt5ct#commit=9f60cd2352a4dcc55c8ca267f29bd8fff5c6a659
	source = telegram-desktop-fcitx5-qt::git+https://github.com/fcitx/fcitx5-qt#tag=5.0.3
	source = telegram-desktop-lib_webrtc::git+https://github.com/desktop-app/lib_webrtc.git#commit=f95214cbe4b0a31ac989e0aceb8cc4f63c1322e6
	source = telegram-desktop-tgcalls::git+https://github.com/TDesktop-x64/tgcalls#commit=938ce0c5f83b2fdad3ae4fe62f9d93d3b1aaf00d
	source = tgcalls-fix-build.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = ce154fd0754e37be0be331012834704dfdc247d0740c3ce7e275250934dc93f4f234121fd270aeb17f4e30e79f9f130fb30bfda69a21b792d9dc6b363f3b434a

pkgname = tdesktop-x64

